<div class="outer">
    <h2>Importierte Bauteile</h2>
    <div class="inner">
        <form action="" method="post">
            <table>
                {TMPL_INCLUDE FILE="../vlib_table.tmpl"}
            </table>
        </form>
    </div>
</div>
