/* allgemeine Gestaltung */
.body {
	background-color: #cdcdcd;
}

.outer {
	background-color: #ffffff;
    margin-top:    10px;
    margin-bottom: 15px;
	border: none;
	border-bottom: 1px solid #000000;
	border-left:   1px solid #000000;
	padding:   11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.outer h1 {
    margin:  0px;
    padding: 0px;
	font-size: 70px;
	text-align: center;
}

.outer h2 {
	background-color: #BABABA;
    margin-top:    0px;
    margin-bottom: 1px;
	border-bottom: 2px solid #F76B02;
	border-left:   1px solid #F76B02;
    padding: 1px;
	font-size:   15px;
	font-weight: bold;
}

.inner {
	background-color: #F2F2F2;
	border-bottom: 3px solid #d0d0d0;
	border-left:   1px solid #d0d0d0;
	border-right:  1px solid #d0d0d0;
    padding: 1px;
}

.red {
	color: #ff0000;
}

.small {
	font-size: small;
}


/* Default Tabellen */
.table {
	border: none;
	width: 100%;
	padding:10px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	background-color: #ffffff;
}
.tablenone {
	border: none;
	width: 100%;
}
.tdtop {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	border: none;
	width: 80%;
	border-bottom: 2px solid #F76B02;
	border-left:  1px solid #F76B02;
	background-color: #BABABA;
}
.tdtext {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: none;
	width: 80%;
	font-size: 12px;
	background-color: #F2F2F2;
	border-bottom: 3px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.tdtextsmall {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: none;
	width: 80%;
	font-size: small;
	background-color: #F2F2F2;
	border-bottom: 3px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}


/* Tabellen/Listen */
.trlist_odd {
	background-color: #d0d0d0;
}
.trlist_even {
	background-color: #b0b0b0;
}
.trlist1 {
	background-color: #b0b0b0;
}
.trlist2 {
	background-color: #d0d0d0;
}
.trcat {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.tdrow0 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    position: relative;
    display: block;
}
.tdrowred {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
}
.tdrow1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}
.tdrow2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
}
.tdrow3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
}
.tdrow4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
}
.tdrow5 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.tdrow6 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-align: center;
}
.tdrow7 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-align: center;
}

.catbild 
{ 
	width: 20px;
	height: 15px;
}

/* hover stuff */

.companypic
{ 
	width: 20px;
	height: 15px;
    display: inline;
}

.hoverpic
{ 
	width: 20px;
	height: 15px;
    display: block;
}

a:hover .hoverpic
{
	width: 200px;
	height: 150px;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 3px;
    z-index: 1;
    background: #ffffff;
    border: 1px solid #800000;
}


/* Sonstiges */
a img {
	border: none;
}
a:link {
	color: #2652BA;
}
a:visited {
	color: #2652BA;
}
a:hover {
	color: #2652BA;
}
a:active {
	color: #2652BA;
}

/* label.php */
.labelbild {
	height: 70px;	
}
/* footprint.php */
.footprint
{
    float: left;
}

.footprint img
{
    height: 70px;
    margin-top: 2px;
    margin-bottom; 0;
}

.footprint p
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top; 0;
    margin-bottom; 0;
}

#homelink
{   
    padding: 1%;
    float: right;
}
#homelink img
{
    height: 15px;
    vertical-align: middle;
}


/* Nav Menue */
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:0px;
	border: 0px;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	padding:0px;
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	padding:0px;
	border: 0px;
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	padding:0px;
	border: 0px;
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	padding:0px;
	border: 0px;
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	padding:0px;
	border: 0px;
	background-color: #c0d2ec;
}
.dtree .clip {
	padding:0px;
	border: 0px;
	overflow: hidden;
}
