/* Default Tabellen */
.table {
	border: none;
	width: 100%;
	padding:10px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	background-color: #ffffff;
}
.tablenone {
	border: none;
	width: 100%;
}
.tdtop {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	border: none;
	width: 80%;
	border-bottom: 2px solid #F76B02;
	border-left:  1px solid #F76B02;
	background-color: #BABABA;
}
.tdtext {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: none;
	width: 80%;
	font-size: 15px;
	background-color: #F2F2F2;
	border-bottom: 3px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.tdtextsmall {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: none;
	width: 80%;
	font-size: small;
	background-color: #F2F2F2;
	border-bottom: 3px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.body {
	background-color: #cdcdcd;
}


/* Tabellen/Listen */
.trlist1 {
	background-color: #b0b0b0;
}
.trlist2 {
	background-color: #d0d0d0;
}
.trcat {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.tdrow0 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.tdrow1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: left;
}
.tdrow2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
}
.tdrow3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
}
.tdrow4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
}
.tdrow5 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.tdrow6 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.catbild { 
	width: 20px;
	height: 20px;
}


/* Sonstiges */
.tdstartup {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 70px;
	text-align: center;
}
a img {
	border: none;
}
a:link {
	color: #2652BA;
}
a:visited {
	color: #2652BA;
}
a:hover {
	color: #2652BA;
}
a:active {
	color: #2652BA;
}


/* Nav Menue */
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}