<div class="outer">
    <h2>Sonstiges</h2>
    <div class="inner">
        <form action="" method="post">
            Unterkategorien:
            <input type="hidden" name="cid" value="{TMPL_VAR NAME="cid"}">
            <input type="hidden" name="subcat" value="{TMPL_IF NAME="with_subcategories"}0{TMPL_ELSE}1{/TMPL_IF}">
            <input type="submit" name="subcat_button" value="{TMPL_IF NAME="with_subcategories"}ausblenden{TMPL_ELSE}einblenden{/TMPL_IF}">
        </form>
        <a href="edit_part_info.php?category_id={TMPL_VAR NAME="cid"}"
            onclick="return popUp('edit_part_info.php?category_id={TMPL_VAR NAME="cid"}',
                            {TMPL_IF NAME="use_modal_popup"}true {TMPL_ELSE}false {/TMPL_IF},
                            {TMPL_VAR NAME="popup_width"}, {TMPL_VAR NAME="popup_height"});">
            Neues Teil in dieser Kategorie
        </a>
    </div>
</div>

<div class="outer">
    <h2>Teile in der Kategorie "{TMPL_VAR NAME="category_name"}"</h2>
    <div class="inner">
        <form method="post" action="">
            <input type="hidden" name="cid" value="{TMPL_VAR NAME="cid"}">
            <input type="hidden" name="subcat" value="{TMPL_IF NAME="with_subcategories"}1{TMPL_ELSE}0{/TMPL_IF}">
            <input type="hidden" name="table_rowcount" value="{TMPL_VAR NAME="table_rowcount"}">
            <table>
                {TMPL_INCLUDE FILE="../vlib_table.tmpl"}
            </table>
        </form>
    </div>
</div>
