/*
    ---------------------------------------------------------------------------------------

    phpBookWorm: DOM

    Copyright: CC-BY-SA 3.0, 2013
    Author: Udo Neist (webmaster@singollo.de, GPG-Fingerprint 4A8F B229 2AE9 9634 04D1 E2F0 21F2 E27D FE97 D87F)

    Part: dom.css

    Info: CSS-Definitionen

    ---------------------------------------------------------------------------------------

    26.01.2013: Erste Version (Udo Neist)
    03.03.2013: Kopfzeilen eingebaut (Udo Neist)
    02.05.2013: Korrektur für Upload-Formular (Udo Neist)
    15.09.2013: Anpassungen an Part-DB (Udo Neist)

*/

/* CSS Document */


#dom_overlay {
    visibility:         hidden;
    position:           absolute;
    left:               0;
    top:                0;
    width:              100%;
    height:             100%;
    text-align:         center;
    z-index:            1000;
    background-color:   #fff;
    opacity:            0.8;
    filter:             alpha(opacity=80);
    -moz-opacity:       0.8;
}

#dom_overlay div.dom_dialog {
    position:           absolute;
    display:            none;
    width:              400px;
    height:             220px;
    top:                25%;
    left:               25%;
    z-index:            255;
    background:         url(gfx/bg.png) #fff;
}

#dom_overlay div.dom_dialog div.dom_body {
    height:             100%;
    border:             3px solid #d0d0d0;
    border-radius:      4px;
    padding:            0;
    background:         bottom right no-repeat #fff;
}

#dom_overlay div.dom_dialog div.dom_head {
    color:              black;
    background:         repeat-x scroll center bottom white;
    border-bottom:      2px solid #d0d0d0;
    padding:            0.2em;
    width:              auto;
    height:             20px;
    margin-bottom:      0.3em;
}

#dom_overlay div.dom_dialog div.dom_text {
    min-height:         20px;
    padding:            0.3em;
}

#dom_overlay div.dom_dialog div.dom_select div {
    margin-bottom:      0.3em;
    padding:            0.3em;
}

#dom_overlay div.dom_dialog div.dom_info {
    border:             1px solid #d0d0d0;
    border-radius:      4px;
    margin-top:         2em;
    margin-left:        0.5em;
    margin-right:       0.5em;
    padding:            0.5em;
    height:             150px;
    overflow:           auto;
    display:            none;
}

#dom_overlay div.dom_dialog div.dom_countfiles {
    display:            none;
}

#dom_overlay div.dom_dialog div.dom_select input {
    position:           absolute;
    left:               30%;
    width:              15em;
    border:             2px solid #d0d0d0;
    border-radius:      4px;
    background-color:   #fff;
}

#dom_overlay div.dom_dialog div.dom_select div.dom_radiobutton {
    font-size:          0.8em;
}

#dom_overlay div.dom_dialog div.dom_select div.dom_radiobutton label {
    position:           absolute;
    left:               36%;
    margin-top:         3px;
}

#dom_overlay div.dom_dialog div.dom_select div.dom_radiobutton input {
    position:           absolute;
    left:               30%;
    width:              auto;
    border:             0;
    background-color:   #fff;
}

#dom_overlay div.dom_dialog div.dom_select select {
    position:           absolute;
    left:               30%;
    width:              15em;
    border:             2px solid #d0d0d0;
    border-radius:      4px;
    background-color:   #fff;
}

#dom_overlay div.dom_dialog div.dom_foot {
    position:           absolute;
    bottom:             5px;
    height:             20px;
    width:              auto;
    left:               0;
    right:              0;
    padding-top:        5px;
    display:            block;
    text-align:         center;
}

#dom_overlay div.dom_dialog button.dom_button {
    background-color:   #fff;
    border:             2px solid #d0d0d0;
    border-radius:      4px;
    font-size:          1.1em;
}

#dom_overlay div.dom_dialog span.dom_button:hover {
    background:         transparent;
}

#dom_overlay div.dom_viewer {
    position:           absolute;
    display:            none;
    width:              800px;
    height:             600px;
    top:                60px;
    left:               0;
    z-index:            255;
    background:         url(gfx/bg.png) #fff;
}

#dom_overlay div.dom_viewer div.dom_body {
    height:             100%;
    border:             3px solid #d0d0d0;
    border-radius:      4px;
    padding:            0;
    background:         bottom right no-repeat #fff;
}

#dom_overlay div.dom_viewer div.dom_head {
    color:              #515C6F;
    background:         url("gfx/accordionItemActive.gif") repeat-x scroll center bottom #F7FAFF;
    border-bottom:      2px solid #d0d0d0;
    padding:            0.2em;
    width:              auto;
    height:             20px;
    margin-bottom:      0.3em;
    cursor:             pointer;
}

#dom_overlay div.dom_viewer div.dom_text {
    padding:            0.3em;
    height:             94%;
    width:              99%;
    display:            inherit;
}

#dom_overlay div.dom_viewer #dom_objectviewer {
    display:            none;
    height:             94%;
    width:              99%;
    vertical-align:     middle;
    text-align:         center;
}

#dom_overlay div.dom_viewer #dom_imageviewer {
    display:            none;
    max-width:          785px;
    max-height:         560px;
}

#dom_overlay div.dom_viewer #dom_textviewer {
    display:            none;
    border:             0;
    vertical-align:     top;
    text-align:         left;
    font-size:          0.8em;
    overflow:           auto;
    max-width:          785px;
    max-height:         560px;
}
