<div class="outer">
    <h1><img src="{TMPL_VAR NAME="relative_path"}img/partdb/partdb.png" alt="logo">Part-DB {TMPL_VAR NAME="system_version"}<img src="{TMPL_VAR NAME="relative_path"}img/partdb/partdb.png" alt="logo"></h1>
    {TMPL_IF NAME="system_version_full"}
        <h3>Version: {TMPL_VAR NAME="system_version_full"}{TMPL_IF NAME="svn_revision"}, SVN-Revision: {TMPL_VAR NAME="svn_revision"}{/TMPL_IF}</h3>
    {/TMPL_IF}
</div>

{TMPL_IF NAME="database_update"}
<div class="outer">
    <h2>Datenbankupdate</h2>
    <div class="inner red">
        <b>Datenbank-Version {TMPL_VAR NAME="db_version_current"} benötigt ein Update auf Version {TMPL_VAR NAME="db_version_latest"}.</b><br><br>
        {TMPL_IF NAME="disabled_autoupdate"}
            {TMPL_IF NAME="auto_disabled_autoupdate"}
                Automatische Datenbankupdates wurden vorübergehend automatisch deaktiviert,
                da es sich um ein sehr umfangreiches Update handelt.<br>
            {TMPL_ELSE}
                Automatische Datenbankupdates sind deaktiviert.<br>
            {/TMPL_IF}
            Updates bitte manuell durchführen: <a href="system_database.php">System -> Datenbank</a>
        {TMPL_ELSE}
            {TMPL_VAR NAME="database_update_log" ESCAPE="none"}
        {/TMPL_IF}
    </div>
</div>
{/TMPL_IF}

{TMPL_IF NAME="display_warning"}
<div class="outer">
    <h2 class="red">Achtung!</h2>
    <div class="inner">
        Bitte beachten Sie, dass vor der Verwendung der Datenbank mindestens<br>
        <blockquote>{TMPL_VAR NAME="missing_category" ESCAPE="none"}eine <a href="edit_categories.php" target="content_frame">Kategorie</a> </blockquote>hinzufügt werden muss.<br><br>
        Um das Potential der Suchfunktion zu nutzen, wird empfohlen
        <blockquote>{TMPL_VAR NAME="missing_storeloc" ESCAPE="none"}einen <a href="edit_storelocations.php" target="content_frame">Lagerort</a> </blockquote>
        <blockquote>{TMPL_VAR NAME="missing_footprint" ESCAPE="none"}einen <a href="edit_footprints.php"  target="content_frame">Footprint</a> </blockquote>
        <blockquote>{TMPL_VAR NAME="missing_supplier" ESCAPE="none"}und einen <a href="edit_suppliers.php" target="content_frame">Lieferanten</a> </blockquote>
        anzugeben.
    </div>
</div>
{/TMPL_IF}

{TMPL_IF NAME="broken_filename_footprints"}
<div class="outer">
    <h2 class="red">Achtung!</h2>
    <div class="inner">
        In ihrer Tabelle gibt es Footprints, die einen fehlerhaften Dateinamen hinterlegt haben.
        Dies kann durch ein Datenbankupdate, ein Update von Part-DB, oder durch nicht mehr existierende Dateien ausgelöst worden sein.
        <br>
        Sie können dies unter <a href="edit_footprints.php" target="content_frame">Bearbeiten/Footprints</a> (ganz unten, "Fehlerhafte Dateinamen") korrigieren.
    </div>
</div>
{/TMPL_IF}

{TMPL_VAR NAME="banner" ESCAPE="none"}

<div class="outer">
    <h2>Lizenz</h2>
    <div class="inner">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="GE4ABWP3JUHLL">
            <input type="image" src="https://www.paypalobjects.com/de_DE/CH/i/btn/btn_donateCC_LG.gif" border="0" name="submit" align="right" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>


        Part-DB, Copyright &copy; 2005 of <strong>Christoph Lechner</strong>. Part-DB is published under the <strong>GPL</strong>, so it comes with <strong>ABSOLUTELY NO WARRANTY</strong>, click <a href="{TMPL_VAR NAME="relative_path"}readme/gpl.txt">here</a> for details. This is free software, and you are welcome to redistribute it under certain conditions. Click <a href="{TMPL_VAR NAME="relative_path"}readme/gpl.txt">here</a> for details.<br>
        <br>
        <strong>Projektseite:</strong> Downloads, Bugreports, ToDo-Liste usw. gibts auf der <a target="_blank" href="https://code.google.com/p/part-db/">Google Code Projektseite</a><br>
        <strong>Forum:</strong> Für Fragen rund um die Part-DB gibt es einen Thread auf <a target="_blank" href="http://www.mikrocontroller.net/topic/269289#new">mikrocontroller.net</a><br>
        <strong>Wiki:</strong> Hilfe zur Installation gibt es im <a target="_blank" href="http://www.mikrocontroller.net/articles/Part-DB_RW_-_Lagerverwaltung">mikrocontroller.net Wiki</a> und im <a target="_blank" href="https://code.google.com/p/part-db/wiki/Index">Google Code Wiki</a><br>
        <br>
        Initiator: <strong>Christoph Lechner</strong> - <a target="_blank" href="http://www.cl-projects.de/">http://www.cl-projects.de/</a><br>
        Autor seit 2009: <strong>K. Jacobs</strong> - <a target="_blank" href="http://www.grautier.com/">http://grautier.com</a><br>
        <br>
        Weitere Autoren:
        <table>
        {TMPL_LOOP NAME="authors"}
            <tr><td><strong>{TMPL_VAR NAME="name" ESCAPE="none"}</strong></td><td>{TMPL_VAR NAME="role" ESCAPE="none"}</td></tr>
        {/TMPL_LOOP}
        </table>
    </div>
</div>

{TMPL_IF NAME="update_list"}
<div class="outer">
    <h2>Updates</h2>
    <div class="inner small">
    {TMPL_LOOP NAME="update_list"}
        {TMPL_VAR NAME="row" ESCAPE="none"}<br>
    {/TMPL_LOOP}
    <br>
    </div>
</div>
{/TMPL_IF}
