<div class="outer">
    <h2>Sonstiges</h2>
    <div class="inner">
        <form action="" method="post">
            Unterkategorien:
            <input type="hidden" name="cid" value="{TMPL_VAR NAME="cid"}">
            <input type="hidden" name="subcat" value="{TMPL_VAR NAME="subcat"}">
            <input type="submit" value="{TMPL_VAR NAME="subcat_text"}">
        </form>
        <a href="newpart.php?cid={TMPL_VAR NAME="cid"}" onclick="return popUp('newpart.php?cid={TMPL_VAR NAME="cid"}');">Neues Teil in dieser Kategorie</a>
    </div>
</div>

<div class="outer">
    <h2>Anzeige der Kategorie "{TMPL_VAR NAME="category_get_name"}"</h2>
    <div class="inner">
        <table>
            {TMPL_INCLUDE FILE="../vlib_table.tmpl"}
        </table>
    </div>
</div>
