<div class="outer">
    <h2>Zugeordnete Teile zu "{TMPL_VAR NAME="device_name"}"</h2>
    <div class="inner">
        {TMPL_IF NAME="device_parts_rowcount"}
            <form method="post" action="" id="table">
                <input type="hidden" name="device_id" value="{TMPL_VAR NAME="device_id"}">
                <table>
                   {TMPL_INCLUDE FILE="../vlib_table.tmpl"}
                </table>
                <br>
                <b>Gesamtpreis: {TMPL_VAR NAME="sum_price"}</b>
                <br><br>
                <i>Teile mit der Stückzahl "0" werden beim Übernehmen aus dieser Baugruppe entfernt.</i>
                <br>
                <input type="hidden" name="device_parts_rowcount" value="{TMPL_VAR NAME="device_parts_rowcount"}">
                <input type="submit" name="device_parts_apply" value="Änderungen übernehmen">
                <input type="submit" value="Änderungen verwerfen">
            </form>
        {TMPL_ELSE}
            Keine Bauteile zugeordnet.
        {/TMPL_IF}
    </div>
</div>
