body {
    padding-bottom: 20px;
    overflow-x: hidden;
}

.dropdown-menu-radio {
    padding-left: 10px;
}

.drop-radio {
    margin-left: 10px;
}

.companypic {
    width: 25px;
    display: inline;
}

.td .table-small {
    font-size: 12px;
}

.hoverpic {
    min-width: 10px;
    max-width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.treeview {
    font-size: 12px;
}

.form-group-sm {
    margin-bottom: 5px;
}

.table-compact>tbody>tr>td,
.table-compact>tbody>tr>th,
.table-compact>tfoot>tr>td,
.tablle-compact>tfoot>tr>th,
.table-compact>thead>tr>td,
.table-compact>thead>tr>th {
    padding: 3px;
}

.list-group-item {
    padding: 5px 10px;
}

.fake-table-col {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}