body {
    overflow-x: hidden;
    position: relative;
    padding-top: 65px;
}

.dropdown-menu-radio {
    padding-left: 10px;
}

.drop-radio {
    margin-left: 10px;
}

.companypic {
    width: 20px;
    display: inline;
}

.companypic:hover {
    filter: opacity(60%);
}

.td .table-small {
    font-size: 12px;
}

.hoverpic {
    min-width: 10px;
    max-width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.treeview {
    font-size: 12px;
}

.form-group-sm {
    margin-bottom: 5px;
}

.table-compact>tbody>tr>td,
.table-compact>tbody>tr>th,
.table-compact>tfoot>tr>td,
.table-compact>tfoot>tr>th,
.table-compact>thead>tr>td,
.table-compact>thead>tr>th {
    padding: 3px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px;
}

.list-group-item {
    padding: 5px 10px;
}


.thumbnail-sm {
    height: 100px;
}

.auto-size-select {
    height: inherit;
}

/* Back to top button  */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 1030;
}


@media  (min-width: 768px) {
    .fixed-sidebar {
        position: fixed;
        left: 15px;
        z-index: 1000;
        width: inherit;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        max-height: 91%;
    }


}

@media  (max-width: 768px) {
    .fixed-sidebar {
        position: fixed;
        top: 56px;
        right: 0;
        left: 0;
        background-color: inherit;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        margin-top: 0;
        z-index: 1000;
        width: inherit;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        max-height: 91%;
        opacity: 0.97;
    }

    .sidebar-container {
        margin-top: 0;
        padding-top: 5px;


        background-color: #F8F8F8;
    }
}

.fixed-sidebar::-webkit-scrollbar {display:none;}


@media (min-width: 768px) {
    .sidebar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.x3d-fullscreen {
    /*height: auto;*/
    width: 100%;
}

.btn-text {
    color: inherit;
    padding: 0;
    border: hidden;
    background-color: transparent;
}

.sidebar-title {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.container-progress {
    padding-top: 25%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.form-control-link {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
}

@media print {
    a.hidden-print-href[href]:after {
        content: none !important;
    }
}

/*
    Fance Collapse
 */

.fancy-collapse-panel .panel-default > .panel-heading {
    padding: 0;
}

.panel-heading a[data-toggle=collapse] {
    display: inline-block;
    width: 100%;
    position: relative;
}
.panel-heading a[data-toggle=collapse]:after {
    font-family: "FontAwesome";
    content: "\f106";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.panel-heading a[data-toggle=collapse].collapsed:after
{
    content: "\f107";
}

.table-center{
    text-align: center;
}

.font-weight-bold {
    font-weight:bold;
}

