<div class="outer">
    <h2>Suche
        <span id="homelink">
        <a href="startup.php" target="content_frame"><img src="img/partdb/partdb.png" alt="Home"></a>
        </span>
    </h2>
    <div class="inner">
        <form action="search.php" method="get" target="content_frame">
            <input type="text" name="keyword" size="17" maxlength="20">
            <input type="submit" name="s" value="Los!"><br>
            <div class="search_selection">
                <p><input type="checkbox" name="search_nam" value="true" checked>Name</p>
                <p><input type="checkbox" name="search_cat" value="true" checked>Kategorie</p>
                <p><input type="checkbox" name="search_des" value="true" checked>Beschreibung</p>
                <p><input type="checkbox" name="search_loc" value="true" checked>Lagerort</p>
                <p><input type="checkbox" name="search_com" value="true" checked>Kommentar</p>
                <p><input type="checkbox" name="search_sup" value="true"        >Lieferant</p>
                <p><input type="checkbox" name="search_fpr" value="true" checked>Footprint</p>
                <p><input type="checkbox" name="search_snr" value="true"        >Bestellnr.</p>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>

<div class="outer">
    <h2>Kategorien</h2>
    <div class="inner">
        <div class="dtree">
            <script type="text/javascript">
                cat_tree = new dTree('cat_tree');
                cat_tree.add(0,-1,'');
			{TMPL_VAR NAME="categories_build_navtree" ESCAPE="none"}
                document.write(cat_tree);
            </script>
            <br>
            <a href="javascript:cat_tree.openAll();">Alle Anzeigen</a> | <a href="javascript:cat_tree.closeAll();">Alle Schliessen</a>
        </div>
    </div>
</div>

{TMPL_IF NAME="enable_devices"}
<div class="outer">
    <h2>Baugruppen</h2>
    <div class="inner">
        <div class="dtree">
            <script type="text/javascript">
                dev_tree = new dTree('dev_tree');
                dev_tree.add(0,-1,'&Uuml;bersicht','device.php','','content_frame');
			{TMPL_VAR NAME="devices_build_navtree" ESCAPE="none"}
                document.write( dev_tree);
            </script>
            <br>
            <a href="javascript:dev_tree.openAll();">Alle Anzeigen</a> | <a href="javascript:dev_tree.closeAll();">Alle Schliessen</a>
        </div>
    </div>
</div>
{/TMPL_IF}

<div class="outer">
    <h2>Verwaltung / Tools</h2>
    <div class="inner">
        <div class="dtree inner">
            <script type="text/javascript">
                menue = new dTree('menue');
                menue.add(0,-1,'');
                menue.add(1,0,'Tools','','','');
                menue.add(2,1,'Import','import.php','','content_frame');
                menue.add(3,1,'Labels','tools/label.php','','content_frame');
                menue.add(4,1,'Widerstandsrechner','tools/rechner.php','','content_frame');
                menue.add(5,1,'Footprints','tools/footprints.php','','content_frame');
                menue.add(6,1,'IC-Logos','tools/iclogos.php','','content_frame');

                menue.add(7,0,'Zeige','','','');
                menue.add(8,7,'Zu bestellende Teile','orderparts.php','','content_frame');
                menue.add(9,7,'Teile ohne Preis','nopriceparts.php','','content_frame');
                menue.add(10,7,'Nicht mehr erh&auml;ltliche Teile','obsoleteparts.php','','content_frame');
                menue.add(11,7,'Statistik','stats.php','','content_frame');
                {TMPL_IF NAME="enable_help"}
                    menue.add(12,7,'Hilfe','help.php','','content_frame');
                {/TMPL_IF}

                menue.add(13,0,'Bearbeiten','','','');
                {TMPL_IF NAME="enable_devices"}
                    menue.add(14,13,'Baugruppen','devmgr.php','','content_frame');
                {/TMPL_IF}
                menue.add(15,13,'Lagerorte','locmgr.php','','content_frame');
                menue.add(16,13,'Footprints','fpmgr.php','','content_frame');
                menue.add(17,13,'Kategorien','catmgr.php','','content_frame');
                menue.add(18,13,'Lieferanten','supmgr.php','','content_frame');

                {TMPL_IF NAME="enable_config"}
                    menue.add(19,0,'Konfiguration','','','');
                    menue.add(20,19,'System','config_system.php','','content_frame');
                    menue.add(21,19,'Datenbank','config_page.php','','content_frame');
                {/TMPL_IF}
                document.write(menue);
            </script>
            <br>
            <a href="javascript:menue.openAll();">Alle Anzeigen</a> | <a href="javascript:menue.closeAll();">Alle Schliessen</a>
        </div>
    </div>
</div>
