<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

<html>
<head>{TMPL_IF NAME="head_title"}<title>{TMPL_VAR NAME="head_title"}></title>{/TMPL_IF}</head>

<frameset cols="300,*" frameborder="0" framespacing="0" border="0">
	<frame name="_nav_frame" src="nav.php">
	<frame name="content_frame" src="startup.php">
</frameset>
</html>