<div id="menu"></div>
<div id="content"></div>

<!-- 
<frameset cols="300,*" frameborder="0" framespacing="0" border="0">
        <frame name="navigation_frame" src="{TMPL_VAR NAME="relative_path"}navigation.php">
        <frame name="content_frame" src="{TMPL_VAR NAME="relative_path"}startup.php">
</frameset>
-->