<div class="outer">
    <h2>Suche
        <span id="homelink">
        <a href="{TMPL_VAR NAME="relative_path"}startup.php" target="content_frame"><img src="{TMPL_VAR NAME="relative_path"}img/partdb/partdb.png" alt="Home"></a>
        </span>
    </h2>
    <div class="inner">
        <form action="{TMPL_VAR NAME="relative_path"}show_search_parts.php" method="get" target="content_frame">
            <table width="100%">
                <tr>
                    <td><input type="text" name="keyword" maxlength="50" style="width:98%" ></td>
                    <td><input type="submit" value="Los!"></td>
                </tr>
            </table>

            <a href="javascript:toggle('search_selection')">Suchparameter ein/ausblenden</a>
            <div class="search_selection" id="search_selection" style="display: none">
                <p><input type="checkbox" name="search_name" value="true" checked>Name</p>
                <p><input type="checkbox" name="search_category" value="true" checked>Kategorie</p>
                <p><input type="checkbox" name="search_description" value="true" checked>Beschreibung</p>
                <p><input type="checkbox" name="search_storelocation" value="true" checked>Lagerort</p>
                <p><input type="checkbox" name="search_comment" value="true" checked>Kommentar</p>
                <p><input type="checkbox" name="search_supplierpartnr" value="true" checked>Bestellnr.</p>
                <p><input type="checkbox" name="search_supplier" value="true">Lieferant</p>
                {TMPL_UNLESS NAME="disable_manufacturers"}<p><input type="checkbox" name="search_manufacturer" value="true">Hersteller</p>{/TMPL_UNLESS}
                {TMPL_UNLESS NAME="disable_footprints"}<p><input type="checkbox" name="search_footprint" value="true">Footprint</p>{/TMPL_UNLESS}
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>

<div class="outer">
    <h2>Kategorien</h2>
    <div class="inner">
        <div class="dtree">
            {TMPL_VAR NAME="categories_navtree" ESCAPE="none"}
        </div>
    </div>
</div>

{TMPL_UNLESS NAME="disable_devices"}
    <div class="outer">
        <h2>Baugruppen</h2>
        <div class="inner">
            <div class="dtree">
                {TMPL_VAR NAME="devices_navtree" ESCAPE="none"}
            </div>
        </div>
    </div>
{/TMPL_UNLESS}

<div class="outer">
    <h2>Verwaltung / Tools</h2>
    <div class="inner">
        <div class="dtree inner">
            <script type="text/javascript">
                menue = new dTree('menue');
                menue.add(0,-1,'');

                menue.add(1,0,'Tools','','','');
                menue.add(2,1,'Import','{TMPL_VAR NAME="relative_path"}tools_import.php','','content_frame');
                {TMPL_UNLESS NAME="disable_labels"}
                menue.add(3,1,'Labels','{TMPL_VAR NAME="relative_path"}tools_labels.php','','content_frame');
                {/TMPL_UNLESS}
                {TMPL_UNLESS NAME="disable_calculator"}
                    menue.add(4,1,'Widerstandsrechner','{TMPL_VAR NAME="relative_path"}tools_calculator.php','','content_frame');
                {/TMPL_UNLESS}
                {TMPL_UNLESS NAME="disable_footprints"}
                {TMPL_UNLESS NAME="disable_tools_footprints"}
                    menue.add(5,1,'Footprints','{TMPL_VAR NAME="relative_path"}tools_footprints.php','','content_frame');
                {/TMPL_UNLESS}
                {/TMPL_UNLESS}
                {TMPL_UNLESS NAME="disable_iclogos"}
                    menue.add(6,1,'IC-Logos','{TMPL_VAR NAME="relative_path"}tools_iclogos.php','','content_frame');
                {/TMPL_UNLESS}

                menue.add(20,0,'Zeige','','','');
                menue.add(21,20,'Zu bestellende Teile','{TMPL_VAR NAME="relative_path"}show_order_parts.php','','content_frame');
                menue.add(22,20,'Teile ohne Preis','{TMPL_VAR NAME="relative_path"}show_noprice_parts.php','','content_frame');
                menue.add(23,20,'Nicht mehr erhältliche Teile','{TMPL_VAR NAME="relative_path"}show_obsolete_parts.php','','content_frame');
                menue.add(24,20,'Statistik','{TMPL_VAR NAME="relative_path"}statistics.php','','content_frame');

                menue.add(40,0,'Bearbeiten','','','');
                {TMPL_UNLESS NAME="disable_devices"}
                    menue.add(41,40,'Baugruppen','{TMPL_VAR NAME="relative_path"}edit_devices.php','','content_frame');
                {/TMPL_UNLESS}
                menue.add(42,40,'Lagerorte','{TMPL_VAR NAME="relative_path"}edit_storelocations.php','','content_frame');
                {TMPL_UNLESS NAME="disable_footprints"}
                    menue.add(43,40,'Footprints','{TMPL_VAR NAME="relative_path"}edit_footprints.php','','content_frame');
                {/TMPL_UNLESS}
                menue.add(44,40,'Kategorien','{TMPL_VAR NAME="relative_path"}edit_categories.php','','content_frame');
                menue.add(45,40,'Lieferanten','{TMPL_VAR NAME="relative_path"}edit_suppliers.php','','content_frame');
                {TMPL_UNLESS NAME="disable_manufacturers"}
                    menue.add(46,40,'Hersteller','{TMPL_VAR NAME="relative_path"}edit_manufacturers.php','','content_frame');
                {/TMPL_UNLESS}
                menue.add(47,40,'Dateitypen','{TMPL_VAR NAME="relative_path"}edit_attachement_types.php','','content_frame');

                {TMPL_UNLESS NAME="disable_config"}
                    menue.add(60,0,'System','','','');
                    menue.add(61,60,'Konfiguration','{TMPL_VAR NAME="relative_path"}system_config.php','','content_frame');
                    menue.add(62,60,'Updates','{TMPL_VAR NAME="relative_path"}system_updates.php','','content_frame');
                    menue.add(63,60,'Datenbank','{TMPL_VAR NAME="relative_path"}system_database.php','','content_frame');
                    {TMPL_IF NAME="db_backup_url"}
                        menue.add(64,60,'{TMPL_VAR NAME="db_backup_name"}','{TMPL_VAR NAME="db_backup_url"}','','__new');
                    {/TMPL_IF}
                    {TMPL_IF NAME="enable_debug_link"}
                        menue.add(65,60,'Debugging','{TMPL_VAR NAME="relative_path"}system_debug.php','','content_frame');
                    {/TMPL_IF}
                {/TMPL_UNLESS}

                {TMPL_IF NAME="developer_mode"}
                    menue.add(70,0,'Entwickler-Werkzeuge','','','');
                    menue.add(71,70,'Werkzeuge','{TMPL_VAR NAME="relative_path"}development/developer_tools.php','','content_frame');
                    menue.add(72,70,'Debugging','{TMPL_VAR NAME="relative_path"}system_debug.php','','content_frame');
                    menue.add(73,70,'Sandkasten','{TMPL_VAR NAME="relative_path"}development/sandbox.php','','content_frame');
                    menue.add(74,70,'Quellcode-Dokumentation','{TMPL_VAR NAME="relative_path"}development/doxygen/html/index.html','','__new');
                {/TMPL_IF}

                {TMPL_UNLESS NAME="disable_help"}
                    <!-- menue.add(80,0,'Hilfe','','',''); -->
                    <!-- menue.add(81,80,'Über Part-DB','{TMPL_VAR NAME="relative_path"}documentation/about.php','','content_frame'); -->
                    <!-- menue.add(82,80,'Dokumentation','{TMPL_VAR NAME="relative_path"}documentation/help/help.php','','content_frame'); -->

                    menue.add(80,0,'Hilfe','{TMPL_VAR NAME="relative_path"}documentation/dokuwiki/index.php','','content_frame');
                {/TMPL_UNLESS}

                document.write(menue);
            </script>
            <br>
            <a href="javascript:menue.openAll();">Alle Anzeigen</a> | <a href="javascript:menue.closeAll();">Alle Schliessen</a>
        </div>
    </div>
</div>
