<div class="outer">
    <h2>Suche
        <span id="homelink">
        <a href="{TMPL_VAR NAME="relative_path"}startup.php" target="content_frame"><img src="{TMPL_VAR NAME="relative_path"}img/partdb/partdb.png" alt="Home"></a>
        </span>
    </h2>
    <div class="inner">
        <form action="{TMPL_VAR NAME="relative_path"}show_search_parts.php" method="get" target="content_frame">
            <table width="100%">
                <tr>
                    <td><input type="text" name="keyword" maxlength="50" style="width:98%" ></td>
                    <td><input type="submit" value="Los!"></td>
                </tr>
            </table>

            <a href="javascript:toggle('search_selection')">Suchparameter ein/ausblenden</a>
            <div class="search_selection" id="search_selection" style="display: none">
                <p><input type="checkbox" name="search_name" value="true" checked>Name</p>
                <p><input type="checkbox" name="search_category" value="true" checked>Kategorie</p>
                <p><input type="checkbox" name="search_description" value="true" checked>Beschreibung</p>
                <p><input type="checkbox" name="search_storelocation" value="true" checked>Lagerort</p>
                <p><input type="checkbox" name="search_comment" value="true" checked>Kommentar</p>
                <p><input type="checkbox" name="search_supplierpartnr" value="true" checked>Bestellnr.</p>
                <p><input type="checkbox" name="search_supplier" value="true">Lieferant</p>
                {TMPL_UNLESS NAME="disable_manufacturers"}<p><input type="checkbox" name="search_manufacturer" value="true">Hersteller</p>{/TMPL_UNLESS}
                {TMPL_UNLESS NAME="disable_footprints"}<p><input type="checkbox" name="search_footprint" value="true">Footprint</p>{/TMPL_UNLESS}
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>

<div class="outer">
    <h2>Kategorien</h2>
    <div class="inner">
        <div class="dtree">
            {TMPL_VAR NAME="categories_navtree" ESCAPE="none"}
        </div>
    </div>
</div>

{TMPL_UNLESS NAME="disable_devices"}
    <div class="outer">
        <h2>Baugruppen</h2>
        <div class="inner">
            <div class="dtree">
                {TMPL_VAR NAME="devices_navtree" ESCAPE="none"}
            </div>
        </div>
    </div>
{/TMPL_UNLESS}

<div class="outer">
    <h2>Verwaltung / Tools</h2>
    <div class="inner">
        <div class="dtree inner">
            <span id="navigation" 
            labels={TMPL_UNLESS NAME="disable_labels"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            calculator={TMPL_UNLESS NAME="disable_labels"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            footprints={TMPL_UNLESS NAME="disable_footprints"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            footprints_tools={TMPL_UNLESS NAME="disable_tools_footprints"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            footprints_edit={TMPL_UNLESS NAME="disable_footprints"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            iclogos={TMPL_UNLESS NAME="disable_iclogos"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            devices={TMPL_UNLESS NAME="disable_devices"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            manufacturers={TMPL_UNLESS NAME="disable_manufacturers"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            config={TMPL_UNLESS NAME="disable_config"}true{TMPL_ELSE}false{/TMPL_UNLESS} 
            {TMPL_UNLESS NAME="disable_config"}
                {TMPL_IF NAME="db_backup_url"}db_backup_url=true {/TMPL_IF}
                {TMPL_IF NAME="enable_debug_link"}enable_debug_link=true {/TMPL_IF}
            {/TMPL_UNLESS}
            {TMPL_IF NAME="developer_mode"}developer_mode=true {/TMPL_IF}
            help={TMPL_UNLESS NAME="disable_help"}true{TMPL_ELSE}false{/TMPL_UNLESS}></span>
            <br>
            <a href="javascript:menue.openAll();">Alle Anzeigen</a> | <a href="javascript:menue.closeAll();">Alle Schliessen</a>
        </div>
    </div>
</div>
