{TMPL_IF NAME="categories_refresh"}
<script type="text/javascript">
            $refreshnav = false;
            print "parent.frames._nav_frame.location.reload();";		
</script>
{/TMPL_IF}


<div class="outer">
    <h2>Kategorie anlegen</h2>
    <div class="inner">
        <form action="" method="post">
            <table>
                <tr>
                    <td>&Uuml;bergeordnete Kategorie ausw&auml;hlen:</td>
                    <td>
                        <select name="parentnode">
                        <option value="0">root node</option>
                        {TMPL_VAR NAME="categories_build_tree_1" ESCAPE="none"}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Name der neuen Kategorie</td>
                    <td>
                        <input type="text"   name="new_category">
                        <input type="submit" name="add" value="Anlegen">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<div class="outer">
    <h2>Kategorie umbennenen/l&ouml;schen/sortieren</h2>
    <div class="inner">
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        W&auml;hlen Sie die zu bearbeitende Kategorie:<br>
                    </td>
                    <td>
                        Was soll mit der ausgew&auml;hlten Kategorie geschehen?
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <select name="catsel" size="{TMPL_VAR NAME="categories_build_size"}" onChange="this.form.submit()">
                        {TMPL_VAR NAME="categories_build_tree_2" ESCAPE="none"}
                        </select>
                    </td>
                    <td>
                        Neuer Name:<br>
                        <input type="text" name="new_name" value="{TMPL_VAR NAME="categories_build_name"}">
                        <input type="submit" name="rename" value="Umbenennen">
                    </td>
                </tr>
                <tr>
                    <td>
                        Neue &Uuml;berkategorie:<br>
                        <select name="parentnode">
                        <option value="0">root node</option>
                        {TMPL_VAR NAME="categories_build_tree_3" ESCAPE="none"}
                        </select>
                        <input type="submit" name="new_parent" value="Umsortieren">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="delete" value="L&ouml;schen">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
