<div class="outer">
    <h2>Hersteller</h2>
    <div class="inner">
        <form action="" method="post">
        <table>
            <tr>
                <td rowspan="11">
                    <select name="selected_id" size="30" onChange="this.form.submit()">
                        <optgroup label="Neu">
                            <option value="0" {TMPL_IF NAME="id" VALUE="0"}selected{/TMPL_IF}>Neuer Hersteller</option>
                        </option>
                        <optgroup label="Bearbeiten">
                            {TMPL_VAR NAME="manufacturer_list" ESCAPE="none"}
                        </option>
                    </select>
                </td>
                <td colspan="2">
                    {TMPL_IF NAME="id" VALUE="0"}
                        <strong>Neuen Hersteller hinzufügen:</strong>
                    {TMPL_ELSE}
                        {TMPL_IF NAME="name"}
                            <strong>Hersteller bearbeiten:</strong>
                        {TMPL_ELSE}
                            <strong>Es ist kein Hersteller angewählt!</strong>
                        {/TMPL_IF}
                    {/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    {TMPL_IF NAME="id"}{TMPL_VAR NAME="id"}{TMPL_ELSE}-{/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    Name*:
                </td>
                <td>
                    <input type="text" name="name" value="{TMPL_VAR NAME="name"}">
                </td>
            </tr>
            <tr>
                <td>
                    Übergeordneter Hersteller*:
                </td>
                <td>
                    <select name="parent_id" size="1">
                        {TMPL_VAR NAME="parent_manufacturer_list" ESCAPE="none"}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Adresse:
                </td>
                 <td>
                    <textarea name="address" rows="5" cols="30">{TMPL_VAR NAME="address" ESCAPE="HTML"}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Telefonnummer:
                </td>
                <td>
                    <input type="text" name="phone_number" value="{TMPL_VAR NAME="phone_number"}">
                </td>
            </tr>
            <tr>
                <td>
                    Faxnummer:
                </td>
                <td>
                    <input type="text" name="fax_number" value="{TMPL_VAR NAME="fax_number"}">
                </td>
            </tr>
            <tr>
                <td>
                    E-Mail Adresse:
                </td>
                <td>
                    {TMPL_IF NAME="email_address"}
                    <a href="mailto:{TMPL_VAR NAME="email_address"}">{TMPL_VAR NAME="email_address"}</a><br>
                    {/TMPL_IF}
                    <input type="text" name="email_address" value="{TMPL_VAR NAME="email_address"}">
                </td>
            </tr>
            <tr>
                <td>
                    Webseite:
                </td>
                <td>
                    {TMPL_IF NAME="website"}
                    <a href="{TMPL_VAR NAME="website"}" target="_blank">{TMPL_VAR NAME="website"}</a><br>
                    {/TMPL_IF}
                    <input type="text" name="website" value="{TMPL_VAR NAME="website"}">
                </td>
            </tr>
            <tr>
                <td>
                    <i>* = Pflichtfelder</i>
                </td>
                <td>
                    {TMPL_IF NAME="id" VALUE="0"}
                        <input type="submit" name="add" value="Neuen Hersteller anlegen"><br>
                        <input type="checkbox" name="add_more" {TMPL_IF NAME="add_more"}checked{/TMPL_IF}>Weitere Hersteller anlegen
                    {TMPL_ELSE}
                        <input type="submit" name="apply" value="Änderungen übernehmen">
                        <input type="submit" name="delete" value="Hersteller löschen">
                    {/TMPL_IF}
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
