<div class="outer">
    <h2>Unterbaugruppen von "{TMPL_VAR NAME="device_name"}"</h2>
    <div class="inner">
        <table>
            <tr class="trcat">
                <td>Name</td>
                <td>Anzahl versch. Teile</td>
                <td>Anzahl Einzelteile</td>
                <td>Gesamtpreis</td>
            </tr>

            {TMPL_LOOP NAME="subdevices"}
                <!--the alternating background colors are created here-->
                <tr class="{TMPL_IF NAME="row_odd"}trlist_odd{TMPL_ELSE}trlist_even{/TMPL_IF}">
                    <td class="tdrow1">
                        <a href="show_device_parts.php?device_id={TMPL_VAR NAME="id"}">{TMPL_VAR NAME="name"}</a>
                    </td>
                    <td class="tdrow2">
                        {TMPL_VAR NAME="parts_count"}
                    </td>

                    <td class="tdrow3">
                        {TMPL_VAR NAME="parts_sum_count"}
                    </td>

                    <td class="tdrow3">
                        {TMPL_VAR NAME="sum_price"}
                    </td>
                </tr>
            {/TMPL_LOOP}
        </table>
        <i>Alle Angaben betreffen nur die jeweilige Baugruppe, deren evtl. vorhandenen Unterbaugruppen werden nicht berücksichtigt!</i>
    </div>
</div>
