<div class="outer">
    <h2>Installation/Update: Datenbank konfigurieren</h2>
    <div class="inner">
        <b>Die Datenbank für Part-DB muss bereits existieren, damit Sie Part-DB installieren können.
        Wenn Sie Part-DB bereits benutzt haben, können Sie die vorhandene Datenbank weiter benutzen,
        ansonsten sollte die Datenbank komplett leer sein.
        <br><br>
        <font style="color:red">
        Achtung:
        <ul>
          <li>Damit Part-DB korrekt funktioniert, müssen Sie dem Benutzer jegliche Rechte an der Datenbank gewähren!</li>
          <li>Benutzen Sie eine bereits vorhandene Datenbank weiter, sollten Sie jetzt ein Backup davon anlegen!</li>
        </ul>
        </font></b>
        <hr>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Datenbanktyp:</td>
                    <td>
                        <select name="db_type">
                            {TMPL_LOOP NAME = "db_type_loop"}
                                <option value="{TMPL_VAR NAME="value"}" {TMPL_IF NAME="selected"}selected{/TMPL_IF}>{TMPL_VAR NAME="text"}</option>
                            {/TMPL_LOOP}
                        </select>
                    </td>
                </tr>
                <!-- <tr>
                    <td>Zeichensatz:</td>
                    <td>
                        <select name="db_charset">
                            {TMPL_LOOP NAME = "db_charset_loop"}
                                <option value="{TMPL_VAR NAME="value"}" {TMPL_IF NAME="selected"}selected{/TMPL_IF}>{TMPL_VAR NAME="text"}</option>
                            {/TMPL_LOOP}
                        </select>
                    </td>
                </tr> -->
                <tr>
                    <td>Host:</td>
                    <td>
                        <input type="text" name="db_host" value="{TMPL_VAR NAME="db_host"}">
                        <!-- (nicht nötig für SQLite) -->
                    </td>
                </tr>
                <tr>
                    <td>Datenbankname<!--/<br>Dateiname-->:</td>
                    <td>
                        <input type="text" name="db_name" value="{TMPL_VAR NAME="db_name"}">
                    </td>
                </tr>
                <tr>
                    <td>Benutzer:</td>
                    <td>
                        <input type="text" name="db_user" value="{TMPL_VAR NAME="db_user"}">
                        <!-- (nicht nötig für SQLite) -->
                    </td>
                </tr>
                <tr>
                    <td>Datenbankpasswort:</td>
                    <td>
                        <input type="password" name="db_password" value="">
                        <!-- (nicht nötig für SQLite) -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="save_db_settings" value="Weiter">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
