<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
    {TMPL_IF NAME="page_title"} <title>{TMPL_VAR NAME="page_title"}</title>{/TMPL_IF}   
    {TMPL_IF NAME="http_charset"}<meta http-equiv="content-type" content="text/html; charset={TMPL_VAR NAME="http_charset"}">{/TMPL_IF}  
    <link rel="icon" href="{TMPL_VAR NAME="relative_path"}img/partdb/favicon.ico" type="image/x-icon">   
    {TMPL_IF NAME="theme"}<link rel="stylesheet" href="{TMPL_VAR NAME="relative_path"}templates/{TMPL_VAR NAME="theme"}/partdb.css" type="text/css">{/TMPL_IF} 
    {TMPL_IF NAME="custom_css"}<link rel="stylesheet" href="{TMPL_VAR NAME="relative_path"}{TMPL_VAR NAME="custom_css"}" type="text/css">{/TMPL_IF}  

    {TMPL_IF NAME="javascript_files"}
        {TMPL_LOOP NAME="javascript_files"}
            <script type="text/javascript" src="{TMPL_VAR NAME="relative_path"}javascript/{TMPL_VAR NAME="filename"}.js"></script> 

            {TMPL_IF NAME="filename" VALUE="calculator"}
                <link rel="stylesheet" href="{TMPL_VAR NAME="relative_path"}templates/{TMPL_VAR NAME="theme"}/tools_calculator.php/calculator.css" type="text/css">
            {/TMPL_IF}
        {/TMPL_LOOP}
    {/TMPL_IF}

    <base target="_self">
</head>

<body class="body" onload="{TMPL_VAR NAME="body_onload"}">

{TMPL_IF NAME="messages"}
    <div class="outer">
        {TMPL_IF NAME="messages_div_title"}<h2>{TMPL_VAR NAME="messages_div_title"}</h2>{/TMPL_IF}
        {TMPL_IF NAME="messages_div_title"}<div class="inner">{/TMPL_IF}
            <form action="" method="post">
                {TMPL_LOOP NAME="messages"}
                    {TMPL_IF NAME="text"}
                        {TMPL_IF NAME="strong"}<strong>{/TMPL_IF}
                        {TMPL_IF NAME="color"}<font color="{TMPL_VAR NAME="color"}">{/TMPL_IF}
                        {TMPL_VAR NAME="text" ESCAPE="HTML"}
                        {TMPL_IF NAME="color"}</font>{/TMPL_IF}
                        {TMPL_IF NAME="strong"}</strong>{/TMPL_IF}
                    {/TMPL_IF}

                    {TMPL_IF NAME="html"}
                        {TMPL_VAR NAME="html" ESCAPE="none"}
                    {/TMPL_IF}

                    {TMPL_IF NAME="no_linebreak"}{TMPL_ELSE}<br>{/TMPL_IF}
                {/TMPL_LOOP}

                {TMPL_IF NAME="reload_link"}
                    <br>
                    <a href="{TMPL_VAR NAME="reload_link"}">
                        <button>Seite neu laden</button>
                    </a>
                {/TMPL_IF}
            </form>
        {TMPL_IF NAME="messages_div_title"}</div>{/TMPL_IF}
    </div>
{/TMPL_IF}
