<div class="outer">
    <h2>Daten pr&uuml;fen</h2>
    <div class="inner">
        <form action="" method="post">
            <input type="hidden" name="table_rowcount" value="{TMPL_VAR NAME="table_rowcount"}">
            <input type="hidden" name="file_content" value="{TMPL_VAR NAME="file_content"}">
            <table>
                {TMPL_INCLUDE FILE="../vlib_table.tmpl"}
            </table>
            <input type="submit" name="check_data"  value="Daten übernehmen und prüfen">
            {TMPL_IF NAME="data_is_valid"}
                <input type="submit" name="import_data" value="Daten importieren!">
            {/TMPL_IF}
        </form>
    </div>
</div>
