<div class="outer">
    <h2>Beispiel f&uuml;r den Dateiaufbau (CSV)</h2>
    <div class="inner">
        <pre>{TMPL_VAR NAME="csv_file_example" ESCAPE="html"}</pre>
    </div>
    <h2>Beispiel f&uuml;r den Dateiaufbau (XML)</h2>
    <div class="inner">
        <pre>{TMPL_VAR NAME="xml_file_example" ESCAPE="html"}</pre>
    </div>
</div>
