<script type="text/javascript">
    function switch_series()
    {
        if(document.edit.series.checked)
        {
            document.edit.series_from.disabled=false;
            document.edit.series_to.disabled=false;
        }
        else
        {
            document.edit.series_from.disabled=true;
            document.edit.series_to.disabled=true;
        }
    }
</script>

<div class="outer">
    <h2>Lagerorte</h2>
    <div class="inner">
        <form action="" method="post" name="edit">
        <table>
            <tr>
                <td rowspan="6">
                    <select name="selected_id" size="30" onChange="this.form.submit()">
                        <optgroup label="Neu">
                            <option value="0" {TMPL_IF NAME="id" VALUE="0"}selected{/TMPL_IF}>Neuer Lagerort</option>
                        </option>
                        <optgroup label="Bearbeiten">
                            {TMPL_VAR NAME="storelocation_list" ESCAPE="none"}
                        </option>
                    </select>
                </td>
                <td colspan="2">
                    {TMPL_IF NAME="id" VALUE="0"}
                        <strong>Neuen Lagerort hinzufügen:</strong>
                    {TMPL_ELSE}
                        {TMPL_IF NAME="name"}
                            <strong>Lagerort bearbeiten:</strong>
                        {TMPL_ELSE}
                            <strong>Es ist kein Lagerort angewählt!</strong>
                        {/TMPL_IF}
                    {/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    {TMPL_IF NAME="id"}{TMPL_VAR NAME="id"}{TMPL_ELSE}-{/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    Name*:
                </td>
                <td>
                    <input type="text" name="name" value="{TMPL_VAR NAME="name"}">
                    {TMPL_IF NAME="id" VALUE="0"}
                        <br><input type="checkbox" name="series" {TMPL_IF NAME="series"}checked{/TMPL_IF} onclick="switch_series()">Serie erzeugen &nbsp;&nbsp;
                        <br>von <input type="text" style="width:50px;" name="series_from" value="{TMPL_IF NAME="series_from"}{TMPL_VAR NAME="series_from"}{TMPL_ELSE}1{/TMPL_IF}" disabled>
                        bis <input type="text" style="width:50px;" name="series_to" value="{TMPL_IF NAME="series_to"}{TMPL_VAR NAME="series_to"}{TMPL_ELSE}3{/TMPL_IF}" disabled>
                    {/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    Übergeordneter Lagerort*:
                </td>
                <td>
                    <select name="parent_id" size="1">
                        {TMPL_VAR NAME="parent_storelocation_list" ESCAPE="none"}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    voll:
                </td>
                 <td>
                    <input type="checkbox" name="is_full" {TMPL_IF NAME="is_full"}checked{/TMPL_IF}>
                    Diesen Lagerort als "voll" markieren
                </td>
            </tr>
            <tr>
                <td>
                    <i>* = Pflichtfelder</i>
                </td>
                <td>
                    {TMPL_IF NAME="id" VALUE="0"}
                        <input type="submit" name="add" value="Neuen Lagerort anlegen"><br>
                        <input type="checkbox" name="add_more" {TMPL_IF NAME="add_more"}checked{/TMPL_IF}>Weitere Lagerorte anlegen
                    {TMPL_ELSE}
                        <input type="submit" name="apply" value="Änderungen übernehmen">
                        <input type="submit" name="delete" value="Lagerort löschen">
                    {/TMPL_IF}
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
