<div style="text-align:center;">
    <div style="color:red;font-size:x-large;">
        Möchten Sie die Baugruppe &quot;{TMPL_VAR NAME="lookup_device_name"}&quot; wirklich löschen?
    </div>
     Der Löschvorgang ist irreversibel!
     <form action="" method="post">
        <input type="hidden" name="dev_sel" value="{TMPL_VAR NAME="dev_sel"}">
        <input type="hidden" name="delete"  value="x">
        <input type="submit" name="del_nok" value="Nicht Löschen">
        <input type="submit" name="del_ok"  value="Löschen">
    </form>
</div>
