<div class="outer">
    <h2>SMD-Widerstände</h2>
    <div class="inner">
        <table>
   <tr>
      <td><b>3-stellig</b><br>Die ersten beiden Stellen sind der Wert,<br> die letzte Stelle ist der Exponent z.B.</td>
       <td class="labelbild"><img src="label/100.png" class="labelbild" alt=""><br>10 Ohm</td>
       <td class="labelbild"><img src="label/101.png" class="labelbild" alt=""><br>100 Ohm</td>
       <td class="labelbild"><img src="label/102.png" class="labelbild" alt=""><br>1K Ohm</td>
   </tr>
   <tr>
       <td><b>4-stellig</b><br>Die ersten drei Stellen sind der Wert,<br> die letzte Stelle ist der Exponent z.B.</td>
       <td class="labelbild"><img src="label/1001.png" class="labelbild" alt=""><br>1K Ohm</td>
       <td class="labelbild"><img src="label/1002.png" class="labelbild" alt=""><br>10K Ohm</td>
       <td class="labelbild"><img src="label/1003.png" class="labelbild" alt=""><br>100K Ohm</td>
   </tr>
   <tr>
       <td><b>Mehrstellig mit R</b><br>Das R zählt als Dezimalpunkt z.B.</td>
       <td class="labelbild"><img src="label/R10.png"  class="labelbild" alt=""><br>0,10 Ohm</td>
       <td class="labelbild"><img src="label/10R2.png" class="labelbild" alt=""><br>10,2 Ohm</td>
       <td class="labelbild"><img src="label/100R.png" class="labelbild" alt=""><br>100 Ohm</td>
   </tr>
        </table>
    </div>
</div>


<div class="outer">
    <h2>SMD-Kondensatoren</h2>
    <div class="inner">
        <table>
   <tr>
       <td><b>Tantal</b><br>Die ersten beiden Stellen sind der Wert in pF,<br>die letzte der Exponent.<br>Die untere Zahl ist die Spannungsfestigkeit in Volt</td>
       <td class="labelbild"><img src="label/246-20.png" class="labelbild" alt=""><br>24µF/20V</td> 
   </tr>
   <tr>
       <td><b>Elkos</b><br>Die Zahlen geben den Wert in µF an,<br>der Buchstabe ist das Trennzeichen,<br> und gibt gleichzeitig die Spannungsfestigkeit an<br>C=6,3V, D=10V, E=16V, F=25V, G=40V, H=63V</td>
       <td class="labelbild"><img src="label/3F3.png" class="labelbild" alt=""><br>3,3µF/25V</td> 
   </tr>
   <tr>
       <td><b>ALU-Elko</b><br>Der obere Wert ist die Kapazitiv in µF,<br>der untere die Spannung in Volt.</td>
       <td class="labelbild"><img src="label/220.png" class="labelbild" alt=""><br>220µF/16V</td>
   </tr>
        </table>
    </div>
</div>


<div class="outer">
    <h2>SMD-Spulen</h2>
    <div class="inner">
        <table>
   <tr>
   <td><b>DO23-Spule</b><br>Der Buchstabe ist die Toleranz<br>und gleichzeitig das "," <br>die Werte werden in µH angegeben<br>F=1%, G=2%, J=5%, K=10% M=20%</td>
   <td class="labelbild"><img src="label/221K.png" class="labelbild" alt=""><br>221µH/5%</td> 
   </tr>
        </table>
    </div>
</div>


<!-- TODO

        <b>SMD-Dioden</b><br>
        <br>
        <br>
        <b>SMD-Transistoren</b><br>
        <br>
        <br>
        <b>SMD-LEDs</b><br>
        <br>
        <br>
        <b>SMD-ICs</b><br>
        <br>
        <br>
        -->
