<IfModule mod_authz_core.c> # Apache 2.4
    Require all granted
</IfModule>
<IfModule ! mod_authz_core.c> # Apache 2.2
    Allow from all
</IfModule>

<FilesMatch "(?i)\.(php|php3?|phtml|ph3|php4|ph4|php5|ph5|phtm|sh|asp|cgi|py|pl|exe|aspx)$">
    <IfModule mod_authz_core.c> # Apache 2.4
        Require all denied
    </IfModule>
    <IfModule ! mod_authz_core.c> # Apache 2.2
        Deny from all
        Order Deny,Allow
    </IfModule>
</FilesMatch>

Options -Indexes