{TMPL_IF NAME="refresh_navigation_frame"}
    <script type="text/javascript">
        parent.frames.navigation_frame.location.reload();
    </script>
{/TMPL_IF}


<div class="outer">
    <h2>Datei ausw&auml;hlen</h2>
    <div class="inner">
        <form enctype="multipart/form-data" action="" method="post">
            <input type="hidden" name="action" value="import_file">
            Dateityp: <select name="file_type">
                <option>CSV</option>
                <option>XML</option>
            </select>
            &nbsp;&nbsp;&nbsp;
            Trennzeichen: <input type="text" name="divider" size="1" maxlength="1" value=";">
            &nbsp;&nbsp;&nbsp;
            Kodierung:
                <select name="coding" size="1">
                <!-- TODO -->
                </select>
            <br>
            <input type="file"   name="import_file" size="30">
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Importieren">
        </form>
    </div>
</div>


<div class="outer">
    <h2>Beispiel f&uuml;r den Dateiaufbau (CSV)</h2>
    <div class="inner">
        <pre>
# Kategorie; Name; Beschreibung; Anzahl; Footprint; Lagerort; Lieferant; Bestellnummer; Kommentar
Dioden;1N4004;Siliziumdiode 400V/1A;10;THT;Kiste;Reichelt;1N 4004;DO41, 400V 1A
Controller;ATMega 8;Mikrocontroller 8kB Flash, 1 kB RAM;1;DIP28;Kiste;Reichelt;ATMEGA 8-16 DIP
Oszillatoren;Quarzoszillator 8 MHz;;1;THT;Kiste;Reichelt;OSZI 8,000000
Schaltkreise;MAX 232;Schnittstellenwandler RS232-TTL;1;DIP16;Kiste;Reichelt;MAX 232 EPE
        </pre>
    </div>
    <h2>Beispiel f&uuml;r den Dateiaufbau (XML)</h2>
    <div class="inner">
        <pre>
< ? TODO xml version="1.0" encoding="UTF-8" standalone="yes"?>
<parts>
  <part>
    <category>Dioden</category>
    <name>1N4004</name>
    <description>Siliziumdiode 400V/1A</description>
    <stock>10</stock>
    <footprint>THT</footprint>
    <location>Kiste</location>
    <supplier>Reichelt</supplier>
    <order_number>1N 4004</order_number>
    <comment>DO41, 400V 1A</comment>
  </part>
  <part>
    <category>Controller</category>
    <name>ATMega 8</name>
    <description>Mikrocontroller 8kB Flash, 1 kB RAM</description>
    <stock>1</stock>
    <footprint>DIP28</footprint>
    <location>Kiste</location>
    <supplier>Reichelt</supplier>
    <order_number>ATMEGA 8-16 DIP</order_number>
    <comment/>
  </part>
</parts>
        </pre>
    </div>
</div>


<div class="outer">
    <h2>Daten importieren</h2>
    <div class="inner">
        <!-- TODO -->
    </div>
</div>

<form action="" method="post" enctype="multipart/form-data">

<input type="hidden" name="add_category"  value='TODO'>
<input type="hidden" name="add_footprint" value='TODO'>
<input type="hidden" name="add_storeloc"  value='TODO'>
<input type="hidden" name="add_supplier"  value='TODO'>

<div class="outer">
    <h2>Daten pr&uuml;fen</h2>
    <div class="inner">
        <!-- TODO fehlende Kategorien usw. -->
    </div>
    <table class="table">
    <tr class="trcat">
        <td>Import</td>
        <td>#</td>
        <td>Kategorie</td>
        <td>Name</td>
        <td>Beschreibung</td>
        <td>Anzahl<br>
        <td>Footprint</td>
        <td>Lagerort</td>
        <td>Lieferant</td>
        <td>Bestellnr.</td>
        <td>Kommentar</td>
    </tr>
        <!-- TODO -->
    </tr>
    <tr>
    <td colspan="10" class="trtext" align="center">
        <input type="submit" name="check"  value="Daten pr&uuml;fen">
        <input type="submit" name="import" value="Import">
    </td>
    </tr>
</table>
</form>
</div>

<div class="outer">
    <h2>Datenbank aktualisiert</h2>
    <div class="inner">
        <!-- TODO -->
    </div>
</div>

<div class="outer red">
    <h2>Fehler</h2>
    <div class="inner">
        <!-- TODO -->
    </div>
</div>
