<div class="outer">
    <h2>Detailinfo zu "{TMPL_VAR NAME="name"}"
        <div style="float: right; display: inline;">
            ID: {TMPL_VAR NAME="pid"}
        </div>
    </h2>

    <div class="inner">
        <table>
            <tr valign="top">
                <td>
                    <table>
                       <tr>
                           <td><b>Name:</b></td>
                           <td>
                                {TMPL_IF NAME="manufacturer_product_url"}
                                    <a title="{TMPL_VAR NAME="manufacturer_product_url"}" href="{TMPL_VAR NAME="manufacturer_product_url"}" target="_blank">{TMPL_VAR NAME="name"}</a>
                                {TMPL_ELSE}
                                    {TMPL_VAR NAME="name"}
                                {/TMPL_IF}
                            </td>
                       </tr>
                       <tr>
                           <td><b>Beschreibung:</b></td>
                           <td>{TMPL_IF NAME="description"}{TMPL_VAR NAME="description"}{TMPL_ELSE}-{/TMPL_IF}</td>
                       </tr>
                       <tr>
                           <td><b>Vorhanden:</b></td>
                           <td>{TMPL_VAR NAME="instock"}</td>
                       </tr>
                       <tr>
                           <td><b>Min. Bestand:</b></td>
                           <td>{TMPL_VAR NAME="mininstock"}</td>
                       </tr>
                       <tr>
                           <td><b>Kategorie:</b></td>
                           <td>{TMPL_VAR NAME="category_full_path" ESCAPE="none"}</td>
                       </tr>
                       <tr>
                           <td><b>Lagerort:</b></td>
                           <td>{TMPL_VAR NAME="storelocation_full_path"}{TMPL_IF NAME="storelocation_is_full"} [voll]{/TMPL_IF}</td>
                       </tr>
                       {TMPL_UNLESS NAME="disable_manufacturers"}
                           <tr>
                               <td><b>Hersteller:</b></td>
                               <td>{TMPL_VAR NAME="manufacturer_full_path" ESCAPE="none"}</td>
                           </tr>
                       {/TMPL_UNLESS}
                       {TMPL_UNLESS NAME="disable_footprints"}
                           <tr>
                               <td><b>Footprint:</b></td>
                               <td>
                                   {TMPL_VAR NAME="footprint_full_path"}<br>
                                   {TMPL_IF NAME="footprint_filename"}<img align="middle" src="{TMPL_VAR NAME="footprint_filename"}" alt="" height="70">{/TMPL_IF}
                               </td>
                           </tr>
                       {/TMPL_UNLESS}
                       <tr>
                           <td valign="top"><b>Kommentar:</b></td>
                           <td>{TMPL_IF NAME="comment"}{TMPL_VAR NAME="comment" ESCAPE="none"}{TMPL_ELSE}-{/TMPL_IF}</td>
                       </tr>
                    </table>

                    <br><a href="edit_part_info.php?pid={TMPL_VAR NAME="pid"}">Angaben verändern</a>
                </td>

                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>

                <td>
                    <table>
                        <form action="" method="post">
                            <input type="hidden" name="pid" value="{TMPL_VAR NAME="pid"}">
                            <tr>
                                <td>
                                    Teile entnehmen<br>
                                    Anzahl:<input type="text" size="3" name="n_less" value="1" onkeypress="validatePosIntNumber(event)"><br>
                                    <input type="submit" name="dec" value="Entnehmen!">
                                </td>
                            </tr>
                        </form>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <form action="" method="post">
                            <input type="hidden" name="pid" value="{TMPL_VAR NAME="pid"}">
                            <tr>
                                <td>
                                    Teile hinzufügen<br>
                                    Anzahl:<input type="text" size="3" name="n_more" value="1" onkeypress="validatePosIntNumber(event)"><br>
                                    <input type="submit" name="inc" value="Hinzufügen!">
                                </td>
                            </tr>
                        </form>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <form action="" method="post">
                            <input type="hidden" name="pid" value="{TMPL_VAR NAME="pid"}">
                            <tr>
                                <td>
                                    {TMPL_IF NAME="manual_order_exists"}
                                        Das Bauteil wurde manuell<br>zum Bestellen vorgemerkt.<br>
                                        <input type="submit" name="remove_mark_to_order" value="Aufheben">
                                    {TMPL_ELSE}
                                        {TMPL_IF NAME="auto_order_exists"}
                                            <i>Das Bauteil wird unter<br>"Zu bestellende Teile"<br>aufgelistet, da der Bestand<br>kleiner als der Mindest-<br>bestand ist.</i>
                                        {TMPL_ELSE}
                                            Zum Bestellen vormerken<br>
                                            Bestellmenge:<input type="text" size="3" name="order_quantity" value="1" onkeypress="validatePosIntNumber(event)"><br>
                                            <input type="submit" name="mark_to_order" value="Übernehmen">
                                        {/TMPL_IF}
                                    {/TMPL_IF}
                                </td>
                            </tr>
                        </form>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="outer">
    <h2>Einkaufsinformationen</h2>
    <div class="inner">
        {TMPL_IF NAME="orderdetails"}
            <table>
                <tr class="trcat">
                    <td>Lieferant</td>
                    <td>Bestellnummer</td>
                    <td>Ab Bestellmenge</td>
                    <td>Preis</td>
                    <td>Einzelpreis</td>
                </tr>

                {TMPL_LOOP NAME="orderdetails"}
                    <!--the alternating background colors are created here-->
                    <tr class="{TMPL_IF NAME="row_odd"}trlist_odd{TMPL_ELSE}trlist_even{/TMPL_IF}">
                        <td class="tdrow1{TMPL_IF NAME="obsolete"} backred{/TMPL_IF}">
                            {TMPL_VAR NAME="supplier_full_path" ESCAPE="none"}
                        </td>

                        <td class="tdrow1{TMPL_IF NAME="obsolete"} backred{/TMPL_IF}">
                            {TMPL_IF NAME="supplier_product_url"}
                                <a title="{TMPL_VAR NAME="supplier_product_url"}" href="{TMPL_VAR NAME="supplier_product_url"}" target="_blank">{TMPL_VAR NAME="supplierpartnr"}</a>
                            {TMPL_ELSE}
                                {TMPL_VAR NAME="supplierpartnr"}
                            {/TMPL_IF}
                        </td>

                        <td class="tdrow2{TMPL_IF NAME="obsolete"} backred{/TMPL_IF}">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                {TMPL_LOOP NAME="pricedetails"}
                                    <tr>
                                        <td class="tdrow2">
                                            {TMPL_VAR NAME="min_discount_quantity"}
                                        </td>
                                    </tr>
                                {/TMPL_LOOP}
                            </table>
                        </td>

                        <td class="tdrow1{TMPL_IF NAME="obsolete"} backred{/TMPL_IF}">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                {TMPL_LOOP NAME="pricedetails"}
                                    <tr>
                                        <td class="tdrow2">
                                            {TMPL_VAR NAME="price"} / {TMPL_VAR NAME="price_related_quantity"}Stk.
                                        </td>
                                    </tr>
                                {/TMPL_LOOP}
                            </table>
                        </td>

                        <td class="tdrow2{TMPL_IF NAME="obsolete"} backred{/TMPL_IF}">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                {TMPL_LOOP NAME="pricedetails"}
                                    <tr>
                                        <td class="tdrow2">
                                            {TMPL_VAR NAME="single_price"}
                                        </td>
                                    </tr>
                                {/TMPL_LOOP}
                            </table>
                        </td>
                    </tr>
                {/TMPL_LOOP}
            </table>
            {TMPL_IF NAME="average_price"}
                <br>
                <b>Durchschnittspreis für 1 Stk.: {TMPL_VAR NAME="average_price"}</b>
            {/TMPL_IF}
        {TMPL_ELSE}
            Dieses Bauteil hat keine Einkaufsinformationen.
            <a href="edit_part_info.php?pid={TMPL_VAR NAME="pid"}">Einkaufsinformationen hinzufügen</a>
        {/TMPL_IF}
    </div>
</div>

<div class="outer">
    <h2>Dateianhänge</h2>
    <div class="inner">
        {TMPL_IF NAME="attachement_types_loop"}
            {TMPL_LOOP NAME="attachement_types_loop"}
                <b>{TMPL_VAR NAME="attachement_type"}:</b><br>
                {TMPL_LOOP NAME="attachements_loop"}
                    {TMPL_IF NAME="is_picture"}
                        <a href="javascript:popUp('{TMPL_VAR NAME="filename"}', {TMPL_IF NAME="use_modal_popup"}true{TMPL_ELSE}false{/TMPL_IF},
                                                    {TMPL_VAR NAME="popup_width"}, {TMPL_VAR NAME="popup_height"});">
                        <img src="{TMPL_VAR NAME="filename"}" alt="Zum Vergrößern klicken!" style="max-height:180px; max-width:180px"></a>
                    {TMPL_ELSE}
                        <a target="_blank" href="{TMPL_VAR NAME="filename"}">{TMPL_VAR NAME="attachement_name"}</a><br>
                    {/TMPL_IF}
                {/TMPL_LOOP}
                {TMPL_UNLESS NAME="__LAST__"}<br><br>{/TMPL_UNLESS}
            {/TMPL_LOOP}
        {TMPL_ELSE}
            Dieses Bauteil besitzt keine Dateianhänge.
            <a href="edit_part_info.php?pid={TMPL_VAR NAME="pid"}">Dateianhänge hinzufügen</a>
        {/TMPL_IF}
    </div>
</div>

