<div class="outer">
    <h2>Installation: Fertigstellung</h2>
    <div class="inner">
        <b><font color="green">Herzlichen Glückwunsch, die Installation bzw. das Update von Part-DB ist fast abgeschlossen!<br>
        Weitere Einstellungen finden Sie unter dem Menüpunkt "System".</font></b>
        <br><br>
        <form action="index.php" method="post">
            <input type="submit" name="finish" value="Fertigstellen">
        </form>
    </div>
</div>
