{TMPL_IF NAME="refresh_navigation_frame"}
    <script type="text/javascript">
        parent.frames.navigation_frame.location.reload();
    </script>
{/TMPL_IF}

<div class="outer">
    <h2>Baugruppen</h2>
    <div class="inner">
        <form action="" method="post">
        <table>
            <tr>
                <td rowspan="5">
                    <select name="selected_id" size="30" onChange="this.form.submit()">
                        <optgroup label="Neu">
                            <option value="0" {TMPL_IF NAME="id" VALUE="0"}selected{/TMPL_IF}>Neue Baugruppe</option>
                        </option>
                        <optgroup label="Bearbeiten">
                            {TMPL_VAR NAME="device_list" ESCAPE="none"}
                        </option>
                    </select>
                </td>
                <td colspan="2">
                    {TMPL_IF NAME="id" VALUE="0"}
                        <strong>Neue Baugruppe hinzufügen:</strong>
                    {TMPL_ELSE}
                        {TMPL_IF NAME="name"}
                            <strong>Baugruppe bearbeiten:</strong>
                        {TMPL_ELSE}
                            <strong>Es ist keine Baugruppe angewählt!</strong>
                        {/TMPL_IF}
                    {/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    {TMPL_IF NAME="id"}{TMPL_VAR NAME="id"}{TMPL_ELSE}-{/TMPL_IF}
                </td>
            </tr>
            <tr>
                <td>
                    Name*:
                </td>
                <td>
                    <input type="text" name="name" value="{TMPL_VAR NAME="name"}">
                </td>
            </tr>
            <tr>
                <td>
                    Übergeordnete Baugruppe*:
                </td>
                <td>
                    <select name="parent_id" size="1">
                        {TMPL_VAR NAME="parent_device_list" ESCAPE="none"}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <i>* = Pflichtfelder</i>
                </td>
                <td>
                    {TMPL_IF NAME="id" VALUE="0"}
                        <input type="submit" name="add" value="Neue Baugruppe anlegen"><br>
                        <input type="checkbox" name="add_more" {TMPL_IF NAME="add_more"}checked{/TMPL_IF}>Weitere Baugruppen anlegen
                    {TMPL_ELSE}
                        <input type="submit" name="apply" value="Änderungen übernehmen">
                        <input type="submit" name="delete" value="Baugruppe löschen">
                    {/TMPL_IF}
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
