{TMPL_IF NAME="refresh_navigation_frame"}
<script type="text/javascript">
    parent.frames.navigation_frame.location.reload();
</script>
{/TMPL_IF}

{TMPL_UNLESS NAME="hide_status"}
    <div class="outer">
        <h2>Datenbank Status / Update</h2>
        <div class="inner">
            <form action="" method="post">
                <table>
                    <tr>
                        <td>
                            Aktuelle Version:
                        </td>
                        <td>
                            {TMPL_VAR NAME="current_version"}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Benötigte Version:
                        </td>
                        <td>
                            {TMPL_VAR NAME="latest_version"}
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            {TMPL_IF NAME="update_required"}
                                <strong><font color="red">Die Datenbank benötigt ein Update!</font></strong><br>
                                <input type="submit" name="make_update" value="Jetzt Datenbank updaten">
                            {TMPL_ELSE}
                                <font color="darkgreen">Die Datenbank ist auf dem neusten Stand.</font>
                            {/TMPL_IF}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{/TMPL_UNLESS}

<div class="outer">
    <h2>Datenbank-Einstellungen</h2>
    <div class="inner">
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        Datenbanktyp:
                    </td>
                    <td>
                        <select name="db_type">
                            {TMPL_LOOP NAME = "db_type_loop"}
                                <option value="{TMPL_VAR NAME="value"}" {TMPL_IF NAME="selected"}selected{/TMPL_IF}>{TMPL_VAR NAME="text"}</option>
                            {/TMPL_LOOP}
                        </select>
                    </td>
                </tr>

                <!-- <tr>
                    <td>
                        Zeichensatz:
                    </td>
                    <td>
                        <select name="db_charset">
                            {TMPL_LOOP NAME = "db_charset_loop"}
                                <option value="{TMPL_VAR NAME="value"}" {TMPL_IF NAME="selected"}selected{/TMPL_IF}>{TMPL_VAR NAME="text"}</option>
                            {/TMPL_LOOP}
                        </select>
                    </td>
                </tr> -->

                <tr>
                    <td>
                        Host:
                    </td>
                    <td>
                        <input type="text" name="db_host" value="{TMPL_UNLESS NAME="is_online_demo"}{TMPL_VAR NAME="db_host"}{/TMPL_UNLESS}">
                        <!-- (nicht nötig für SQLite) -->
                    </td>
                </tr>

                <tr>
                    <td>
                        Datenbankname<!--/<br>Dateiname-->:
                    </td>
                    <td>
                        <input type="text" name="db_name" value="{TMPL_UNLESS NAME="is_online_demo"}{TMPL_VAR NAME="db_name"}{/TMPL_UNLESS}">
                    </td>
                </tr>

                <tr>
                    <td>
                        Benutzer:
                    </td>
                    <td>
                        <input type="text" name="db_user" value="{TMPL_UNLESS NAME="is_online_demo"}{TMPL_VAR NAME="db_user"}{/TMPL_UNLESS}">
                        <!-- (nicht nötig für SQLite) -->
                    </td>
                </tr>

                <tr>
                    <td>
                        Datenbankpasswort:
                    </td>
                    <td>
                        <input type="password" name="db_password" value="">
                        <!-- (nicht nötig für SQLite) -->
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Administratorpasswort:</b>
                    </td>
                    <td>
                        <input type="password" name="admin_password" value="">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="apply_connection_settings" value="Einstellungen übernehmen" {TMPL_IF NAME="is_online_demo"}disabled{/TMPL_IF}>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" name="automatic_updates_enabled" {TMPL_IF NAME="automatic_updates_enabled"} checked{/TMPL_IF}>Automatische Updates aktivieren
                    </td>
                    <td>
                        <input type="submit" name="apply_auto_updates" value="Übernehmen">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
