{TMPL_IF NAME="refresh_navigation_frame"}
    <script type="text/javascript">
        parent.frames.navigation_frame.location.reload();
    </script>
{/TMPL_IF}


<div class="outer">
    <h2>Baugruppe inklusive Bauteile kopieren</h2>
    <div class="inner">
        <form method="post" action="">
            <input type="hidden" name="device_id" value="{TMPL_VAR NAME="device_id"}">
            <table>
                <tr>
                    <td>Name der Kopie:</td>
                    <td><input type="text" name="copy_new_name" value="Kopie_von_{TMPL_VAR NAME="device_name"}"></td>
                </tr>
                <tr>
                    <td>Übergeordnete Baugruppe:</td>
                    <td>
                        <select name="copy_new_parent_id" size="1">
                            {TMPL_VAR NAME="parent_device_list" ESCAPE="none"}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Rekursiv:</td>
                    <td>
                        <input type="checkbox" name="copy_recursive">Alle Unterbaugruppen mit all deren Teilen auch mitkopieren
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="copy_device" value="Kopie anlegen">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

