<div class="head" title='Filemanager'></div>
<div id="file_breadcrumb" class="breadcrumb" title='Aktuelles Verzeichnis: '>keines ausgewählt</div>

<div id="filemanager" class="content">
    <div id="file_dirs">
        <ul class="list">
            <li onclick="filemanager.showFiles('','all');" class="dir">Hauptverzeichnis</li>
        </ul>
    </div>
    <div id="file_command">
        <span id="file_commands">
            <ul class="list">
                <li onclick="filemanager.command('rename');" class="command">Rename</li>
                <li onclick="filemanager.command('delete');" class="command">Delete</li>
                <li onclick="filemanager.command('copy');" class="command">Copy</li>
                <li onclick="filemanager.command('move');" class="command">Move</li>
            </ul>
            <ul class="list">
                <li onclick="filemanager.command('upload');" class="command">Upload</li>
                <li onclick="filemanager.command('download');" class="command">Download</li>
            </ul>
            <ul class="list">
                <li onclick="filemanager.viewer();" class="command">Viewer</li>
            </ul>
        </span>
        <span id="file_upload">
            <ul class="list">
                <li onclick="filemanager.command('upload');" class="command">Upload</li>
            </ul>
        </span>
    </div>
    <div id="file_info">Bitte wählen Sie eine Datei aus.</div>
    <div id="file_explorer"></div>
    <iframe id="file_iframe" src="" style="display:none;"></iframe>
</div>
